<ion-view title="Cadastrar Demanda" ng-controller="SubTypeRequestController" ng-init="listSubTypeRequest()" cache-view="false">
    <ion-content padding="'true'" class="has-header">
    <form class="list" >
      <ion-list>
          <label class="item item-input">
              <span class="input-label">Cetegoria</span>
              <select ng-model="request.subtype_request_id">
                <option ng-repeat="subtype in subtypes" value="{{subtype.id}}">{{subtype.subtype_request}}</option>
              </select>
          </label>
          <label class="item item-input">
              <span class="input-label">Prazo</span>
              <input ng-model="request.deadline" type="number" ng-init="request.deadline = 15">
          </label>
          <label class="item item-input">
              <span class="input-label">Observações</span>
              <textarea ng-model="request.observation" rows="6"></textarea>
          </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button  class="button button-stable button-block button-balanced" ng-click="insertRequest()" >Salvar</button>
      </form>
  </ion-content>
</ion-view>