<ion-view view-title="Pessoas" ng-controller="PeopleController" ng-init="listPeople()">
    <ion-nav-buttons side="primary">
        <a class="button" href="#/tab/people-new">
          <i class="icon ion-plus icon-accessory"></i>
        </a>
      </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
      <ion-refresher on-refresh="doRefresh('list')">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
      <ion-header-bar class="bar item-input-inset">
          <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" min-length="1" placeholder="Pesquisar" ng-model="busca.search">
          </div>
      </ion-header-bar>
    <ion-list>
       <ion-item class="item-remove-animate item-icon-right" ng-repeat="people in peoples| filter:busca.search track by people.id" type="item-text-wrap" href="#/tab/people-view/{{people.id}}">
       		<h2>{{ people.name|uppercase }}</h2>
       </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
